// Place all the styles related to the mentors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}

.search-form {
  text-align: center;
  padding: 32px;
}

.search-form .search-input {
  width: 30%;
  height: 40px;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 10%;
  height: 40px;
}

